h1{
    border: 1px solid red;
    /* margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px; */
    /* margin: 50px 40px 30px 10px; */
    margin: 100px;
    width: 1000px;
    /* padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; */
    padding: 50px 40px 30px 20px;
    background-color: aqua;
    /* outline-style: dotted;
    outline-width: 5px;
    outline-color: brown; */
    outline: 10px dotted green;
    outline-offset: 10px;
}
div{
    margin: 50px;
}
h2{
    border: 1px solid black;
    margin: inherit;
    background-color: aquamarine;
    padding: 50px;
    width: 1000px;
}
h3{
    background-color: blueviolet;
    width: 1000px;
    margin: 50px;
}