.a{
    opacity: 0.3;
}
.b{
    opacity: 0.6;
}
.c{
    opacity: 0.8;
}
.a:hover{
    opacity: 1;
}
.b:hover{
    opacity: 1;
}
.c:hover{
    opacity: 1;
}
h1{
    border: 1px solid red;
    width: 200px;
    height: 200px;
    padding: 50px;
    /* background-color: aqua;
    opacity: 0.5; */
    background-color: rgba(233, 78, 98, 0.3);
}
h1:hover{
    opacity: 1;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropbtn{
    background-color: #3e8341;
}
input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    /* border: none;
    border-bottom: 2px solid red; */
    /* background-color: #3cbc8d;
    color: white; */
    background-color: white;
    background-image: url('searchicon.png');
    background-color: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
    /* background-color: lightblue;
    border: 3px solid #555; */
    width: 100%;
}
textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
select{
    width: 50%;
    padding: 16px 20px;
    border: none;
    border: 4px;
    background-color: #f1f1f1;
}
input[type=button], input[type=submit], input[type=reset]{
    background-color: #04aa6d;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}